@model Lobasoft_Erp.Models.LBS_Proveedores

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Proveedor</h4>
<hr />

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control"/>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Provincia" class="control-label"></label>
                <select class="form-select" id="provinciaSelect">
                    <option value="">Seleccione una provincia</option>
                </select>
                <input asp-for="Provincia" class="form-control" id="Provincia"  hidden/>
                <span asp-validation-for="Provincia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Canton" class="control-label"></label>
                <select class="form-select" id="cantonSelect" disabled>
                    <option value="">Seleccione una Canton</option>
                </select>
                <input asp-for="Canton" class="form-control" id="Canton"  hidden/>
                <span asp-validation-for="Canton" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Distrito" class="control-label"></label>
                <select class="form-select" id="distritoSelect" disabled>
                    <option value="">Seleccione una provincia</option>
                </select>
                <input asp-for="Distrito" class="form-control" id="Distrito" hidden/>
                <span asp-validation-for="Distrito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label class="control-label">Area Comercial</label>
                <select class="form-select" id="multiple-select-field" data-placeholder="Choose anything" multiple name="areasComercialesSeleccionadas[]">
                    @foreach (var areaComercial in ViewBag.AreasComerciales)
                    {
                        <option value="@areaComercial.Id">@areaComercial.NombreAreaComercial</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success p-1 mt-2 mb-2" />
            </div>
        </form>
        <div>
            <a class="btn btn-primary p-1 mt-2 mb-2" asp-action="Index">Back to List</a>
        </div>
    </div>

    <div class="col-md-4">
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#multiple-select-field').select2({
                theme: "bootstrap-5",
                width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                placeholder: $(this).data('placeholder'),
                closeOnSelect: false,
            });

            $('#multiple-select-field').on('change', function () {
                var selectedValues = $(this).val();
                $('#areasComercialesSeleccionadas').val(selectedValues);
            });

            // Función para llenar el select de provincias
            function fillProvinciaSelect() {
                var provinciaSelect = $("#provinciaSelect");
                $.get("https://ubicaciones.paginasweb.cr/provincias.json", function (data) {
                    $.each(data, function (key, value) {
                        provinciaSelect.append("<option value='" + key + "'>" + value + "</option>");
                    });
                });
            }

            // Función para llenar el select de cantones
            function fillCantonSelect(provinciaId) {
                var cantonSelect = $("#cantonSelect");
                cantonSelect.empty();
                cantonSelect.append("<option value=''>Seleccione un cantón</option>");

                if (provinciaId !== "") {
                    var url = "https://ubicaciones.paginasweb.cr/provincia/" + provinciaId + "/cantones.json";
                    $.get(url, function (data) {
                        $.each(data, function (key, value) {
                            cantonSelect.append("<option value='" + key + "'>" + value + "</option>");
                        });
                        cantonSelect.prop("disabled", false);
                    });
                } else {
                    cantonSelect.prop("disabled", true);
                }
            }

            // Función para llenar el select de distritos
            function fillDistritoSelect(provinciaId, cantonId) {
                var distritoSelect = $("#distritoSelect");
                distritoSelect.empty();
                distritoSelect.append("<option value=''>Seleccione un distrito</option>");

                if (provinciaId !== "" && cantonId !== "") {
                    var url = "https://ubicaciones.paginasweb.cr/provincia/" + provinciaId + "/canton/" + cantonId + "/distritos.json";
                    $.get(url, function (data) {
                        $.each(data, function (key, value) {
                            distritoSelect.append("<option value='" + key + "'>" + value + "</option>");
                        });
                        distritoSelect.prop("disabled", false);
                    });
                } else {
                    distritoSelect.prop("disabled", true);
                }
            }

            // Evento de cambio para el select de provincia
            $("#provinciaSelect").on("change", function () {
                var provinciaId = $(this).val();
                fillCantonSelect(provinciaId);
                fillDistritoSelect(provinciaId, "");
            });

            // Evento de cambio para el select de cantón
            $("#cantonSelect").on("change", function () {
                var provinciaId = $("#provinciaSelect").val();
                var cantonId = $(this).val();
                fillDistritoSelect(provinciaId, cantonId);
            });

            // Llenar el select de provincias al cargar la página
            fillProvinciaSelect();

            $("form").submit(function () {
                // Obtener los valores seleccionados
                var provinciaTexto = $("#provinciaSelect option:selected").text();
                var cantonTexto = $("#cantonSelect option:selected").text();
                var distritoTexto = $("#distritoSelect option:selected").text();

                // Asignar los valores a los campos ocultos
                $("#Provincia").val(provinciaTexto);
                $("#Canton").val(cantonTexto);
                $("#Distrito").val(distritoTexto);

                // Continuar con el envío del formulario
                return true;
            });
        });

    </script>
}
