@model Lobasoft_Erp.Models.LBS_AreaComercial

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles del área comercial</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreAreaComercial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreAreaComercial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning p-1 mt-2 mb-2" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> 
    <a class="btn btn-primary p-1 mt-2 mb-2" asp-action="Index">Volver</a>
</div>
