@using System.Security.Claims;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>

</div>
<div id="miDiv" style="max-width: 100%; height: auto; display: flex; justify-content: center; align-items: center;">
    
        <img src="~/images/Logo 4.png" alt="Mi imagen" style="max-width: 100%; height: auto;">
   
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <p class="display-4" style="font-size:x-large">Bienvenido  @User.FindFirst(ClaimTypes.Name)?.Value , gracias por preferirnos</p>
    </div>
} else
{
    <div class="text-center">
        <p class="display-4" style="font-size:x-large">Debe iniciar sesión para acceder a las funcionalidades </p>
    </div>
}


 
