@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p style="text-align: justify;">
    <b>Derechos Reservados:</b> <br />
    Todos los derechos de propiedad intelectual de esta aplicación y su
    contenido pertenecen a Lobasoft, a menos que se indique lo contrario. Estos
    derechos incluyen, pero no se limitan a, los derechos de autor, marcas registradas,
    patentes y cualquier otro derecho de propiedad intelectual relacionado con la
    aplicación.
    Se prohíbe la reproducción, distribución, modificación, divulgación o
    cualquier otro uso no autorizado de esta aplicación o su contenido, total o
    parcialmente, sin el consentimiento expreso por escrito de Lobasoft.
    Cualquier reproducción no autorizada o uso indebido de esta aplicación
    puede constituir una violación de las leyes de derechos de autor, marcas
    registradas u otras leyes aplicables, y puede estar sujeto a acciones legales y
    reclamaciones por daños y perjuicios.
    Lobasoft se reserva todos los derechos que no se otorgan expresamente en
    este manual de usuario. Esta aplicación y su contenido están protegidos por las
    leyes de propiedad intelectual aplicables y tratados internacionales.
    Todas las marcas comerciales, marcas de servicio y logotipos utilizados en
    esta aplicación son propiedad de Lobasoft o de sus respectivos propietarios y
    están protegidos por las leyes de marcas registradas aplicables. Queda
    estrictamente prohibido el uso no autorizado de cualquier marca comercial, marca
    de servicio o logotipo sin el consentimiento previo por escrito de su propietario.
    Lobasoft se reserva el derecho de realizar cambios en esta aplicación y su
    contenido en cualquier momento sin previo aviso. No se ofrece ninguna garantía,
    expresa o implícita, con respecto a la precisión, confiabilidad o adecuación de esta
    aplicación para cualquier propósito en particular.
</p>
